* {
	vertical-align: baseline; box-sizing: border-box;

	font-feature-settings: "kern" 1, "liga" 1, "frac" 1;
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "frac" 1;  /* No variation */
    -moz-font-feature-settings: "kern" 1, "liga" 1, "frac" 1;  /* Firefox 15.0 onwards explicitly set feature values */
    -ms-font-feature-settings: "kern" 1, "liga" 1, "frac" 1; 
/*    border: solid red 1px;*/
}
@font-face {
	font-family: "GT-Cinetype-Trial-Bold";
	src: url(../css/fonts/GT-Cinetype-Trial-Bold.eot);
	src: url(../css/fonts/GT-Cinetype-Trial-Bold?#iefix) format("embedded-opentype"), url(../css/fonts/GT-Cinetype-Trial-Bold.woff) format("woff"), url(../css/fonts/GT-Cinetype-Trial-Bold.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

body {
	margin: 0;
	padding: 0;
	background-color: #FBFBFB;
}

img { 

}
a:link, a:visited {
	color: blue;
	text-decoration: none;
}

.masthead {
	padding: 2.5rem 5%;
	text-align: center;
	background-color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 5000;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.masthead > * {
	flex: 3 33%;
} 

.back {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	text-align: left;
}
.logo {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: 1.2rem;
}
.sort {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	text-align: right;
}

#timeline {
	padding: 2.5rem 0;
	padding-top: 12rem;
}

#timelineRow {
	position: relative;
}

/* Media */
.timelineRowMedia {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;	
	justify-content: center;
}
.timelineRowMedia .media {
	height: 4rem;
	max-width: 4rem;

	flex: 1 5rem;

/*	background-image: url('../images/juarez1.jpg');
	background-size: cover;*/

	transition: all 0.1s ease;
	cursor: pointer;
	z-index: 1000;
	box-shadow: 0 10px 80px -40px rgba(0,0,0,0);
	position: relative;
	overflow: hidden;
}
.timelineRowMedia .media img {
	position: absolute;
	top: 25%;
	left: 0;
	width: auto;
	height: auto;
	transform: scale3d(1.75, 1.75, 1);
}
.timelineRowMedia > .media:hover {
	transform: scale3d(2, 2, .5);
	z-index: 2000;
	box-shadow: 0 0 20px 0px rgba(0,0,0,.1), 0 0 0px .5px rgba(255,255,255,.3);
}

#timeline > div .timelineRowsHeading, #timeline > div .timelineRowDates {
	opacity: 0;
}
#timeline > div:nth-child(6n + 1) .timelineRowsHeading,
#timeline > div:nth-child(6n + 1) .timelineRowDates {
	opacity: 1;
}

/* Heading */
.timelineRowsHeading {
	position: absolute;
	left: 0;
	top: 0;
}

.timelineRowDates {
	position: absolute;
	left: 0;
	top: 1rem;
}
.heading {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .8rem;
	text-transform: uppercase;
	position: relative;
	color: blue;
}
.heading:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: 1px;
	left: 5rem;
	top: 1rem;
	background-color: blue;
}
.date {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .8rem;
}

.media-container {
	padding: 2.5rem 0;
}
.image-card {
	position: fixed;
/*	max-width: 60%;*/
}
.image-card img {
	width: 100%;
}

.media-card {
	z-index: 9000;
/*	mix-blend-mode: lighten;*/
	position: relative;
}
.media-card:after {
	content: '';
	background-color: #93ABCF;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
/*	mix-blend-mode: normal;*/
}
.media-card h3 {
	font-family: 'MillerBanner';
	font-size: 3rem;
	margin: 0 0 2rem 0;
	letter-spacing: 1px;
}
.media-card {
	border-radius: .1rem;
	background-color: #93ABCF;
	padding: 5%;
	color: #FFF;
	width: 100%;
	margin-top: 10rem;
}
.media-card .post-information {
	border: solid 1px #FFF;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: .8rem;
	position: relative;
}
.media-card .post-information:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 2.6rem;
	left: 50%;
	top: -1.3rem;
	background-color: #FFF;
}
.media-card .time-stamp {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
	flex: 2 50%;
	text-align: center;
	letter-spacing: 1px;
}
.media-card .retweets-count {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
	flex: 2 50%;
	text-align: center;
	letter-spacing: 1px;
}
.media-card .description {
	font-family: "Graphik";
	line-height: 1.4;
	font-size: .95rem;
	font-weight: 300;
	position: relative;
	margin-top: 4rem;
}
.media-card .description:before {
	content: '';
	position: absolute;
	width: 2.6rem;
	height: 1px;
	left: 50%;
	top: -2rem;
	margin-left: -1.3rem;
	background-color: #FFF;
}
.media-card .hashtags {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .8rem;
	position: relative;
	margin-top: 4rem;
}
.media-card .hashtags:before {
	content: '';
	position: absolute;
	width: 2.6rem;
	height: 1px;
	left: 50%;
	top: -2rem;
	margin-left: -1.3rem;
	background-color: #FFF;
}


@media(min-width: 28rem) {
	#timeline {
		padding: 2.5rem 5%;
		padding-top: 12rem;
	}   
	.media-container {
		padding-top: 12rem;
	}
}

@media(min-width: 46rem) {
	.media-container {
		padding: 2.5rem 5%;
	}	
	.media-card {
		width: 50%;
		max-width: 30rem;
	}
}






/* Animations */