<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ida</title>

  <link href="css/styles.css" type="text/css" rel="stylesheet" media="all">
</head>
<body>


  <div id="main">


  <script id="timeline" type="text/template">
    <div class='masthead fade-in'>

      <div class="back"></div>
      <div class="logo"><a href="index.html">Ida</a></div>
      <div class="sort">Sort</div>
    </div>

    <div id="timeline" class="fade-in two">

      <div class="intro">
        <h1><%= title %></h1>
        <p><%= description %></p>
      </div>


        <% _.each(rows, function(r) { %>
            <div id="timelineRow" class="">

          <div class="timelineRowsHeading">
            <h2 class="heading fade-in three">  <%= r.heading.split("+")[0] %></h2>
          </div>
          <div class="timelineRowDates">
            <p class="date">  <%= r.date %></p>
          </div>
          <div class="timelineRowMedia">
            <% _.each(r.media, function(m) { %>

              <div class="media" id="mediaId_" alt="">
                <a href="#/timeline/media/<%= m.id %>">  <img id="mediaId_" class="media" src="<%= m.mediaUrl %>" style="border: red;" alt=""></a>
              </div>
              <% }) %>
            </div>
                </div><!-- end timelineRow-->
            <% }) %>

        </div><!-- end timeline -->
      </script>

      <script id="row" type="text/template">

      </script>

      <script id="mediaShow" type="text/template">

        <div class='masthead'>
          <div class="back"><a href="#timeline"><span>←</span> Back</a></div>
            <div class="logo"><a href="index.html">Ida</a></div>
          <div class="sort">Sort By:</div>
        </div>

        <div class="media-container">
          <div class="previous">←</div>
          <div class="next">→</div>

          <div class="image-card small">
            <img class="media" id="mediaId_" src="<%= mediaUrl %>" alt="">
          </div>

          <div class="media-card">
            <div class="media-card-bg">
            <h3><%= timestamp.split("+")[0] %></h3>
            <div class="post-information">
            <div class="time-stamp">  <a href='http://twitter.com/<%= username %>'  target='_blank'>@<%= username %></a></div>
            <div class="retweets-count"><span><%= retweetsCount %></span></div>
            </div>
            <div class="description">
              <p><%= description %></p>
            </div>
            <div class="hashtags">
              <% _.each(hashtag, function(h) { %>
            #<%= h %>
            <%}) %>
            </div>
            <div class="source">
              <a href='<%= tweetUrl %>' target='_blank'>Source</a>
            </div>

            </div>
          </div>
        </div>
      </script>

      <script type="text/javascript" src="vendor/jquery.min.js"></script>
      <script type="text/javascript"  src="vendor/underscore-min.js"></script>
      <script type="text/javascript"  src="vendor/backbone-min.js"></script>
      <script src="./vendor/backbone.touch.js"></script>


      <script src="./config.js"></script>
      <script src="./models.js"></script>
      <script src="./views.js"></script>
      <script src="./collections.js"></script>
      <script src="./router.js"></script>
      <script src="./app.js"></script>
      <script src="./seeds.js"></script>

    </body>
    </html>
